
.box_form {
    display: flex;
    justify-content: center;
    padding: 200px 0px;
}

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: #858585;
    border-radius: 5px;
    padding: 5px 0px;
}

mat-card {
    background: rgba(227, 1, 52, 0.6);
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 0px 8px 1px !important;
}

::ng-deep .mat-form-field-tns-c50-0, ::ng-deep .mat-form-field-tns-c50-1 {
    margin-bottom: 5px !important;
}

.mat-button {
    font-family: 'Merriweather', serif;
    background-color: #858585;
}

.mat-button:hover {
    box-shadow: rgb(0, 0, 0) 0px 0px 3px 0px;
}