<div class="box_form">
  <mat-card>
    <h1>Login </h1>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput required [(ngModel)]="username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput required [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-button (click)="loginUser()">Accedi</button>
  </mat-card>
</div>