.title_box {
    position: relative;
}

.title_box span {
    position: absolute;
    top: -5px;
    right: 20px;
    background-color: black;
    border-radius: 50%;
    padding: 6px;
    color: white;
}

h1 {
    font-family: 'Merriweather', serif;
    margin: 15px 20px 20px 20px;
    border-bottom: solid 2px #858585;
    color: white;
    font-weight: bold;
}

.companies_box {
    display: flex;
    justify-content: space-between;
}

.box1 {
    display: flex;
    flex-direction: column;
}

.message_box {
    font-family: 'Merriweather', serif;
    width: 41vw;
    background-color: rgba(227, 1, 52, 0.6);
    margin: 0px 10px;
    padding: 15px 10px;
    text-align: center;
    box-shadow: black 0px 0px 8px 1px !important;
}

.message_box h3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

#new_company, #companies {
    width: 40vw;
    background: rgba(227, 1, 52, 0.6);
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 0px 8px 1px !important;
    margin: 0px 10px;
}

#companies {
    margin-bottom: 10px;
}

h2 {
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-weight: bold;
}

span {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

mat-form-field {
    width: 100%;
}

#add_btn {
    font-family: 'Merriweather', serif;
    background-color: #858585;
}

#add_btn:hover {
    box-shadow: rgb(0, 0, 0) 0px 0px 3px 0px;
}

#del_btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: #858585;
}

#del_btn:hover{
    box-shadow: rgb(0, 0, 0) 0px 0px 3px 0px;
}