<div class="title_box">
    <h1>Companies</h1>
    <span>UA</span>
</div>

<div class="companies_box">
    <div class="box1">
        <mat-card class="message_box" *ngIf="myCompany.length === 0">
            <h3>No Companies To Show</h3>
        </mat-card>
        <mat-card id="companies" *ngFor="let item of myCompany">
            <h2>{{item.name}}</h2>
            <p><span>Address: </span>{{item.address}}</p>
            <p><span>Phone: </span>{{item.phone}}</p>
            <p><span>Revenue: </span>{{item.revenue}} &dollar; </p>
            <button id="del_btn" mat-button (click)="delCompany(item)">Remove</button>
        </mat-card>
    </div>


    <div class="box2">
        <mat-card id="new_company">
            <h2>New Company</h2>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput required name="name" [(ngModel)]="name">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput required name="address" [(ngModel)]="address">
                <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput required name="phone" [(ngModel)]="phone">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Revenue</mat-label>
                <input matInput required name="revenue" [(ngModel)]="revenue">
                <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>

            <button id="add_btn" mat-button (click)="newCompany()">Save</button>

        </mat-card>
    </div>

</div>